body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 12px 175px 12px 175px;
  gap: 20px;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

a, .under-text {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin: 0;
}

.hero {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 100px 175px 100px 175px;
  gap: 60px;
  justify-content: space-between;
}

.hero-info {
  display: flex;
  flex-direction: column;
  flex: 1; 
  justify-content: space-between;
}

.img-container {
  flex: 1;
}

.img-container img {
  width: 100%;
  height: auto;
}

.sign-up {
  border-radius: 8px;
  align-self: flex-start;
  padding: 6px 30px 6px 30px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  line-height: 1.2;
  margin-bottom: -10px;
}

.content-title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-top: 35px;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 35px 175px 70px 175px;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  gap: 10px;
}

.card .img-container {
  display: flex;
}

.card .img-container img {
  border-radius: 16px;
  border: 4px #3882F6 solid; 
  flex: 0 1 200px;
}

.card .under-text {
  color: #1F2937;
  text-align: center;
  flex-wrap: wrap;
}

.quote {
  background-color: #E5E7EB;
  padding: 100px 300px 100px 300px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-source {
  font-weight: bold;
  font-size: 24px;
  align-self: flex-end;
}

.signUp {
  padding: 100px 175px 100px 175px;
}

.sign-popup {
  background-color: #3882F6;
  padding: 50px 110px 50px 110px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-popup .sign-up {
  border: 2px solid #F9FAF8;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}
